body {
    background-color: #151515;
    margin: 0;
    font-family: "Ubuntu Mono", monospace;
}

.top_svg {
    background-image: url("res/background_top.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    position: fixed;
    height: 200px;
    top: 0;
    z-index: -1;
}

.bottom_svg {
    background-image: url("res/background_bottom.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    position: fixed;
    height: 200px;
    bottom: 0;
    z-index: -1;
}

.header {
    font-size: 3.5rem;
    color: #fafafa;
    font-weight: 700;
    text-align: center;
    margin-top: 50%;
}

.paragraph {
    font-size: 1.2rem;
    color: #d0d0d0;
    font-weight: 400;
    text-align: center;
    margin: 0 65px 0 65px;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.button {
    background: transparent;
    border: 2px solid orange;
    color: #dadada;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
    padding: 10px;
    width: 200px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
}

button:disabled,
button[disabled] {
    border-color: grey;
    color: #666666;
}

.line {
    width: 3px;
    height: 75px;
    background: linear-gradient(#151515, orange);
    border-radius: 20px;
}

#take-picture-div {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.camera-feed {
    position: relative;
    border: 2px solid orange;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

#video {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #151515;
}

#photo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    background-color: #151515;
    z-index: -1;
}

img {
    height: auto;
    border: 1px solid #ddd;
    margin-top: 20px;
    object-fit: cover;
}

.touch-message {
    position: absolute;
    z-index: 1;
    color: #d0d0d0;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

.choose-joker-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.number {
    background-color: transparent;
    border: 2px solid orange;
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    transition: border-radius 250ms ease;
}

#jokerNumber {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
}

#jokerColor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
}

.color {
    background-color: transparent;
    border: 2px solid orange;
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-radius 250ms ease;
}

.selected {
    border-radius: 2px;
}

.text-button {
    border: none;
}


@media screen and (orientation:portrait) {
    #take-picture-div {
        width: 90%;
    }
}

@media screen and (orientation:landscape) {

}